
<head>
   <title> Alignment Annotation </title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static '/index.css' %}">
   {% load final_align_extras %}
   {{ rebuttal | json_script:"rebuttal"}}
   {{ rebuttal_chunks | json_script:"rebuttal_chunks"}}
   {{ review_sentences | json_script:"review_sentences"}}
   {{ review | json_script:"review"}}
   {{ metadata | json_script:"metadata"}}
   <br />
   <div class="row">
      <div class="col-5 offset-1">
         Paper title:
         <h3>{{ paper_title }} </h3>
         {{ reviewer }}
         <div class="container-fluid">
            <div class="row">
               <div class="col-5">
                 
               </div>
               <div class="col-7">
               </div>
            </div>
         </div>
         
      </div>
      <div class="col-4 offset-1">
         <div class="row">
            <div class="col-4">
               Initials
               <input id="initials" type="text" class="form-control input-md">
            </div>
            <div class="col-5">
               Comments
               <input id="comments" type="text" class="form-control input-md">
            </div>
            <div class="col-3">
               <span style="color:white">_</span><br>
               <button id="generate" name="generate" class="btn btn-sml btn-primary"
            onclick="generateJson()">Validate</button>
            </div>
         </div>
         <br >
                  
         <form action="/final_align/submitted/" method="post">
            {% csrf_token %}
            <div class="row">
               <div class="col-9">
                  <input id="annotation" class="form-control input-md" type="text" name="annotation" placeholder="JSON-ified annotation will appear here once validated">
               </div>
               <div class="col-3">
                  <input id="submitBtn" class="btn btn-sml btn-primary" type="submit" value="Submit">
               </div>
            </div>
         </form>
         <br />
         </form>
      </div>
   </div>
   {% for rebuttal_chunk in rebuttal_chunks %}
   <div class="tab">
      <!-- Tab for each rebuttal chunk -->
      <div class="container-fluid">
         <div class="row">
            <!-- Row with review and rebuttal in it -->
            <div class="col-5 offset-1">
               <h2>Review</h2>
               <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-0" style="max-height:700px;">
                  <p id="reviewtablecell_{{ forloop.counter0 }}">
                     {% for review_sentence in review_sentences %}
                     {% if review_sentence.idx == -1 %}
                     <br><br>
                     {% else %}

                     <span class="sentence"
                        id="sentence-{{ forloop.parentloop.counter0 }}-{{ review_sentence.idx }}"
                        highlight=0 onclick="clicked(this)">
                     {{ review_sentence.text | linebreaksbr }} </span>
                     {% endif %}
                     {% endfor %}
                  </p>
               </div>
               <br>
            </div>
            <div class="col-4 offset-1">
               <h2>Rebuttal</h2>
               Select sentences of the review the following chunk of text is responding to. <br/> <br />
               <div class="row">
                  <div class="col-3">
                     <button class="btn btn-sm btn-secondary" onClick="switchTab({{ forloop.counter0 }}, {{rebuttal_chunks | length }}, -1)"> &lt; </button>
                  </div>
                  <div class="col-6 text-center">
                     Rebuttal chunk &nbsp; {{ forloop.counter0  | add:1 }} / {{ rebuttal_chunks | length}}
                  </div>
                  <div class="col-3 text-right">
                     <button class="btn btn-sm btn-secondary" onClick="switchTab({{ forloop.counter0 }}, {{rebuttal_chunks | length }}, 1)"> &gt; </button>
                  </div>
                  <div class="col-3 offset-1">
                  </div>
               </div>
               <br >
               <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-0 bg-dark text-white" style="max-height:300px;">
                  <p id="rebuttalcell_{{forloop.counter0}}"">
                     {{ rebuttal_chunk | linebreaksbr }}
                  </p>
               </div>
               <br>
                <button id="generate" name="generate" class="btn btn-sml btn-secondary"
            onClick="copyPrevious({{ forloop.counter0 }})">Copy previous chunk annotations</button>
               <br>
               {% with chunk_idx=forloop.counter0 %}
               <div class="form-group" id="checkbox-container-{{ chunk_idx }}">
                  {% for category, code_items in codes %}
                  <h5>{{ category }}</h5>
                  {% for code_item in code_items %}
                  <div class="row">
                     <div class="col-4">
                        <div class="checkbox">
                           <label for="errors-{{ chunk_idx }}-{{code_item.code}}">
                           <input type="checkbox" name="checkboxes" id="errors-{{ chunk_idx }}-{{code_item.code}}" value="{{code_item.code}}"> {{code_item.code}}
                        </div>
                     </div>
                     <div class="col-8">
                        <small> {{code_item.label}} </small>
                     </div>
                  </div>
                  {% endfor %}
                  {% endfor %}
                  {% endwith %}
               </div>
            </div>
         </div>
         <!-- row -->
      </div>
      <!-- container-fluid -->
   </div>
   <!-- rebuttal tab -->
   {% endfor %}
   <script src="{% static '/index.js' %}"></script>
</body>

