<head>
   <title> Alignment Annotation </title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
{% load static %}
{% load fine_align_extras %}
<link rel="stylesheet" type="text/css" href="{% static '/index.css' %}">
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js'></script>
<body>
   <br />
   <div class="row">
      <div class="col-5 offset-1">
         Paper title:
         <h3> {{ paper_title }} </h3>
         {{ rebuttal_indices | json_script:"reb_id"}}
         <br />
         <button id="generate" name="generate" class="btn btn-primary"
            onclick="generateJson()">Validate annotations</button> 
      </div>
      <div class="col-4 offset-1">
         <br />
         <div class="row">
            <div class="col-4">
               Your initials
               <input id="initials" type="text" class="form-control input-md">
            </div>
            <div class="col-8">
               Comments
               <input id="comments" type="text" class="form-control input-md">
            </div>
         </div>
         <br >
         <form action="/alignments/submitted/" method="post">
            {% csrf_token %}
            <div class="row">
               <div class="col-10">
                  <input id="annotation" class="form-control input-md" type="text" name="annotation" placeholder="JSON-ified annotation will appear here once validated">
               </div>
               <div class="col-2">
                  <input id="submitBtn" class="btn btn-primary" type="submit" value="Submit">
               </div>
            </div>
         </form>
         <br />
         </form>
      </div>
   </div>
   {% for rebuttal_chunk in rebuttal_text %}
   <div class="tab">
      <div class="container-fluid">
         <div class="row">
            <div class="col-5 offset-1">
               <h2>Review</h2>
               <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height:450px;">
                  <p id="reviewtablecell_{{forloop.counter0}}" onMouseUp="consumeSelection({{ forloop.counter0 }})">
                     {% for review_chunk in review_text %}
                     {{ review_chunk }}
                     <br />
                     {% endfor %}
                  </p>
               </div>
               <br>
               <i>Currently selected span: </i>
               <div class="row">
                  <div class="col-8">
                     <p id="highlightedSpan_{{forloop.counter0}}">Please select a context span from the review on the left.</p>
                  </div>
                  <div class="col-4">
                     <button id="confirmSpanButton_{{ forloop.counter0 }}" name="confirmSpanButton" disabled="true" class="btn btn-success" onClick="confirmSpan({{ forloop.counter0 }})"> Confirm</button>
                  </div>
               </div>
               <div class="row">
                  
                  <div class="col-6">
                     <span id="highlightedSpanStartIndex_{{forloop.counter0}}" hidden="true"></span>
                  </div>
                  
                  <div class="col-6">
                     <span id="highlightedSpanEndIndex_{{forloop.counter0}}" hidden="true"></span>
                  </div>
               </div>
            </div>
            <div class="col-4 offset-1">
               <h2>Rebuttal</h2>
               Select a span of the review the following chunk of text is responding to. <br />
               (You may select multiple if very necessary) <br/> <br />
               <div class="row">
                  <div class="col-1">
                     <button id="singlebutton" name="singlebutton" class="btn btn-secondary" onClick="switchTab({{ forloop.counter0 }}, {{rebuttal_indices | length }}, -1)"> &lt; </button>
                  </div>
                  <div class="col-2 offset-1">
                     {{ forloop.counter0  | add:1 }} / {{ rebuttal_indices | length}}
                  </div>
                  <div class="col-1">
                     <button id="singlebutton" name="singlebutton" class="btn btn-secondary" onClick="switchTab({{ forloop.counter0 }}, {{rebuttal_indices | length }}, 1)"> &gt; </button>
                  </div>
                  <div class="col-4 offset-3">
                     <button id="singlebutton" name="singlebutton" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                     Show full rebuttal</button>
                  </div>
               </div>
               <br />
               <br />
               <table class="table">
                  <tbody>
                     <tr>
                        <td colspan="2">
                           {{ rebuttal_chunk }}
                        </td>
                  </tbody>
               </table>
               <div class="col-4">
               </div>
               <br>
               <i>Confirmed context span:</i> <br>
               <span id="contextSpan_{{ forloop.counter0 }}"> No span confirmed -- please select a span on the left </span> <br > <br >

               <div class="form-group">
  <div class="checkbox">
    <label for="errors_{{ forloop.counter0 }}-0">
      <input type="checkbox" name="checkboxes" id="errors_{{ forloop.counter0 }}-0" value="should-split">
      This rebuttal chunk should have been split into multiple chunks
    </label>
   </div>
  <div class="checkbox">
    <label for="errors_{{ forloop.counter0 }}-1">
      <input type="checkbox" name="checkboxes" id="errors_{{ forloop.counter0 }}-1" value="should-merge">
      This rebuttal chunk should have been combined with another chunk
    </label>
   </div>
  <div class="checkbox">
    <label for="errors_{{ forloop.counter0 }}-2">
      <input type="checkbox" name="checkboxes" id="errors_{{ forloop.counter0 }}-2" value="multiple-spans">
      There are multiple non-contiguous spans that form the context for this chunk
    </label>
   </div>
   <div class="checkbox">
    <label for="errors_{{ forloop.counter0 }}-3">
      <input type="checkbox" name="checkboxes" id="errors_{{ forloop.counter0 }}-3" value="no-context" onChange="updateNoContext({{ forloop.counter0 }})">
      There is no relevant context span for this rebuttal chunk
    </label>
   </div>
  </div>


               
            </div>
         </div>
      </div>
   </div>
   {% endfor %}
   </div>
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Full rebuttal</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <table class="table">
                  <tbody>
                     {% for rebuttal_chunk in rebuttal %}
                     <tr>
                        <td> {{ forloop.counter0  | add:1 }}  </td>
                        <td>
                           {{ rebuttal_chunk }} <br /> <br />
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
   <span id="review_supernote" style="display:none">{{ review_supernote }}</span>
   <span id="rebuttal_supernote" style="display:none">{{ rebuttal_supernote }}</span>
   <script src="{% static '/index.js' %}"></script>
</body>

