<head>
  <title> Inter-annotator agreement dashboard </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">
</head>

<body>
   <div class="container">

   Fine-grained agreement: <br>
   Argument: {{info.baba.0.arg }} <br>
   Aspect: {{info.baba.0.asp }} <br>
   Grounding: {{info.baba.0.gro }} <br>
   Polarity: {{info.baba.0.pol }} <br>
   Agreers : {{info.baba.1 }} <br>
   Rebuttal label kappa: {{info.baba.2 }} <br>
   Rebuttal link overlap: {{info.baba.3 }} <br>

   </div>
</body>


