<html>
  <head> <title> Submitted </title> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">
</head>
  <body> 
  	<div class="container">
  		<br>
      Submitted, thanks! <br>
      <a href="/dune/assignments/{{ next_sentence_info.initials }}">Back to
        index</a> <br>
      {% if next_sentence_info.valid %}
      <a href="/dune/annotate/{{ next_sentence_info.initials }}/{{ next_sentence_info.rebuttal_id }}/{{ next_sentence_info.rebuttal_sentence_index }}">
        Go to next sentence
      </a>
      {% endif %}
  		</div> </body>
</html>
